@import url('https://fonts.googleapis.com/css?family=Audiowide|outline|Trirong');

body{
    background-image: url(../images/fooldali_hatterkep.gif);
}

.navbar{

}

#cim{
    font-size: 36px;
    font-family: 'Audiowide';
    color: aliceblue;
}

.focim{
    text-align: center;
    font-family: 'Audiowide';
    color: aliceblue;
}

.foszoveg{
    text-align: center;
    font-size: 26px;
    font-family: 'outline';
    color: aliceblue;
}

#fodoboz{
    position: relative;
    top: 120px;
    padding-left: 70px;
}

.lablec{
    position: relative;
    bottom: -242px;
    color: aliceblue;
}
