body{
    background-color: gray;
}
#doboz{
    justify-content: center;
    margin: auto;
    align-items: center;
    display: flex;
}

.focim{
    text-align: center;
}
#fodoboz{
    position: relative;
    top: 200px;
    padding-left: 70px;
}

.lablec{
    position: relative;
    bottom: -370px;
}