body{
    background-color: gray;
}

.focim{
    text-align: center;
}
#fodoboz{
    position: relative;
    top: 200px;
    padding-left: 70px;
}

.lablec{
    position: relative;
    bottom: -370px;
}