@import url('https://fonts.googleapis.com/css?family=Audiowide|outline|Trirong');

body{
    background-image: url(../images/sun.gif);
}

.navbar{
    background-color: rgb(175, 83, 92);
}

#cim{
    font-size: 36px;
    font-family: 'Audiowide';
    color: aliceblue;
    text-shadow: 5px 5px 5px black;
}

.kerek{
    width: 45px;
    height: 45px;
    display: block;
    align-items: top;
    margin-left: 940px;
}
h1{
    text-align: center;
    color: aliceblue;
    font-family: 'Audiowide';
    text-shadow: 5px 5px 5px black;
    
}

.szoveg{
    text-align: center;
    color: aliceblue;
    font-family: 'Trirong';
    font-size: 25px;
    text-shadow: 5px 5px 5px black;
}

.fodoboz{
    background-image: url(../images/audi_merci.jpg);
    background-color: aliceblue;
    position: relative;
    height: 600px;
    width: 1000px;
    top: 5px;
    margin-left: 100px;
}


.markalabel{
    color: rgb(252, 46, 46);
    font-family: 'Audiowide';
    font-size: 20px;
    margin-left: 300px;
    margin-top: 20px;
}
#marka{
    border: 3px solid rgb(0, 27, 11);
    background-color: rgb(192, 192, 192);
    width: 350px;
    height: 40px;
    font-size: 20px;
    color: rgb(252, 46, 46);
}
.tipuslabel{
    color: rgb(252, 46, 46);
    font-family: 'Audiowide';
    font-size: 20px;
    margin-top: 20px;
    margin-left: 310px;
}
#tipus{
    border: 3px solid rgb(0, 27, 11);
    background-color: rgb(192, 192, 192);
    width: 350px;
    height: 40px;
    font-size: 20px;
    color: rgb(252, 46, 46);
}
.idopontlabel{
    color: rgb(252, 46, 46);
    font-family: 'Audiowide';
    font-size: 20px;
    margin-top: 20px;
    margin-left: 284px;
}
#idopont{
    border: 3px solid rgb(0, 27, 11);
    background-color: rgb(192, 192, 192);
    width: 350px;
    height: 40px;
    font-size: 20px;
    color: rgb(252, 46, 46);
}
.nevlabel{
    color: rgb(252, 46, 46);
    font-family: 'Audiowide';
    font-size: 20px;
    margin-top: 20px;
    margin-left: 243px;
}
#nev{
    border: 3px solid rgb(0, 27, 11);
    background-color: rgb(192, 192, 192);
    width: 350px;
    height: 40px;
    color: rgb(252, 46, 46);
    font-size: 20px;
}
.emaillabel{
    color: rgb(252, 46, 46);
    font-family: 'Audiowide';
    font-size: 20px;
    margin-top: 20px;
    margin-left: 313px;
}
#email{
    border: 3px solid rgb(0, 27, 11);
    background-color: rgb(192, 192, 192);
    width: 350px;
    height: 40px;
    color: rgb(252, 46, 46);
    font-size: 20px;
}
.telefonlabel{
    color: rgb(252, 46, 46);
    font-family: 'Audiowide';
    font-size: 20px;
    margin-top: 20px;
    margin-left: 231px;
}
#telefonszam{
    border: 3px solid rgb(0, 27, 11);
    background-color: rgb(192, 192, 192);
    width: 350px;
    height: 40px;
    color: rgb(252, 46, 46);
    font-size: 20px;
}
.vanejogsilabel{
    color: rgb(252, 46, 46);
    font-family: 'Audiowide';
    font-size: 20px;
    margin-top: 20px;
    margin-left: 157px;
}
#vanejogsi{
    border: 3px solid rgb(0, 27, 11);
    background-color: rgb(192, 192, 192);
    width: 350px;
    height: 40px;
    color: rgb(252, 46, 46);
    font-size: 20px;
}
.jogositvanylabel{
    color: rgb(252, 46, 46);
    font-family: 'Audiowide';
    font-size: 20px;
    margin-top: 20px;
    margin-left: 157px;
}
#jogositvany{
    border: 3px solid rgb(0, 27, 11);
    background-color: rgb(192, 192, 192);
    width: 350px;
    height: 40px;
    color: rgb(252, 46, 46);
    font-size: 20px;
}
.autoszalonlabel{
    color: rgb(252, 46, 46);
    font-family: 'Audiowide';
    font-size: 20px;
    margin-top: 20px;
    margin-left: 242px;
}
#autoszalon{
    border: 3px solid rgb(0, 27, 11);
    background-color: rgb(192, 192, 192);
    width: 350px;
    height: 40px;
    color: rgb(252, 46, 46);
    font-size: 20px;
}
#gomb{
    border: 3px solid rgb(0, 27, 11);
    background-color: rgb(192, 192, 192);
    color: rgb(252, 46, 46);
    font-family: 'Audiowide';
    font-size: 23px;
    margin-top: 25px;
    margin-left: 480px;
}
    

.mellekdoboz{
    background-image: url(../images/tolto.gif);
    position: fixed;
    height: 600px;
    width: 620px;
    top: 264px;
    margin-left: 1200px;
}

.vegeszoveg{
    color: aliceblue;
    font-size: 25px;
    text-align: center;
    font-family: 'Trinong';
    text-shadow: 5px 5px 5px rgb(207, 83, 83);
    padding-top: 120px;
}

.kep{
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    width: 580px;
    height: 400px;
}
